body {
  background-color: #e9e9e9;
}

.darkGreyBack h2{
  color: lightgrey;
  border-right: 1.5px dashed lightgrey;
  border-bottom: 1.5px dashed lightgrey;
  font-family: 'Josefin Sans', sans-serif;
}

h2{
  font-size: 25px;
  color: #2b2b2b;
  border-right: 1.5px dashed #2b2b2b;
  border-bottom: 1.5px dashed #2b2b2b;
  margin: 10px;
  padding: 10px;
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
}

.activeDark{
  border-bottom: 2px solid #2b2b2b;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.activeDark:hover{
  border-color: darkgrey;
}

.activeLight{
  border-bottom: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.activeLight:hover{
    border-color: rgba(0,0,0,0.7);
}

 .carousel-item img{
  filter: blur(4px);
  -webkit-filter:  blur(4px);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

#Home{
  position: relative;
}

.homeText{
  position: absolute;
  z-index: 1000;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10%;
}

.homeText h3,h1{
  padding: 20px;
  color: white;
}

.homeText h1{
  font-size: 70px;
  font-family: 'Itim', cursive;
}

.homeText h3{
  font-size: 35px;
  font-family: 'Kalam', cursive;
  color: rgba(255,255,255,0.85);
}

@media screen and (max-width: 900px) {
  .homeText h1{
    font-size: 35px;
  }

  .homeText h3{
    font-size: 18px;
  }
}

.transBack{
  background-color: transparent;
}

.lightGreyBack{
  background-color: lightgrey;
}

.darkGreyBack{
  background-color: #2b2b2b;
}

#About img{
  width: 200px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 5%;
  border-radius: 50%;
  opacity: 0.9;
}

@media screen and (max-width: 900px) {
  #About img{
    width: 150px;
    margin-top: 10%;
  }
}

#About ul{
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #444;
}

#About li{
  padding: 5px;
  list-style: none;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

#About i{
  font-style: italic;
}

#About .fas{
  color: darkgrey;
}

#About .red{
  color: red;
}

.tech-skills, .pers-skills{
  padding-top: 90px;
}

.c100{
  margin-bottom: 30px;
  background-color: lightgrey;
  margin-left: 30px;
}

.c100 .text-skills{
  padding-left: 35px;
  padding-top: 35px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Merienda One', cursive;
}

.c100:hover > .text-skills {
  font-size: 25px;
  color: #307bbb;
  padding-left: 20px;
  padding-top: 30px;
  text-align:left;
}

.c100 .bar{
  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.pers-skills{
  padding-bottom: 20px;
}

.progress{
  height: 30px;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Merienda One', cursive;
}

.progress-bar{
  border-radius: 20px;
}

#Projects h2{
  z-index: 200;
  position: absolute;
  color: white;
  border-color: white;
}

.carousel-caption img{
  width: 70%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  opacity: 1;
  margin-bottom: 30px;
  border: 2px black solid;
  border-radius: 10px;
}

.carousel-caption h5{
    font-size : 30px;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.carousel-caption i{
    color: black;
    font-size: 25px;
}
@media screen and (max-width: 900px) {
  .carousel-caption img{
    width: 50%;
  }

  .carousel-caption p{
    font-size: 17px;
  }

  #Projects h2{
    display: none;
  }


}

#Achievments img{
  border: 2px solid white;
}

.pre-flipImages{
  width: 1%;
  opacity: 0.1;
}

.post-flipImages{
  width: 60%;
  opacity: 1;
  -webkit-transform: rotateY(1440deg); /* Safari */
  transform: rotateY(1440deg); /* Standard syntax */
  transition: all 2s ease-in-out;
}

#Achievments .row{
  padding-top: 50px;
  padding-bottom: 50px;
}

#Achievments .vr-rule-dark{
  border-left: 3px groove darkgrey;
}

#Achievments p{
  font-size: 18px;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
}


#Contact a{
  font-size: 30px;
  color: lightgrey;
}

#Contact span{
  color: lightgrey;
  font-size: 18px;
  font-family: sans-serif;
  font-family: 'Poppins', sans-serif;
}

#Contact span i{
  font-size: 25px;
}

#Contact a :hover{
  color: black;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#Contact hr{
  border-color: lightgrey;
  opacity: 0.3;
}

#Contact span .fa-copyright{
  font-size: 17px;
}

@media screen and (max-width: 800px) {
  h2{
    font-size: 20px;
  }
}
